# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.d

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Visual Studio Code
.vscode/

# Folder for build artifacts
[Bb]uild/

# Debian
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libcleri-dev.debhelper.log
debian/libcleri-dev.substvars
debian/libcleri-dev/
debian/libcleri0.debhelper.log
debian/libcleri0.substvars
debian/libcleri0/
debian/tmp/
