Source: libcleri
Section: libs
Priority: optional
Maintainer: SiriDB Maintainers <libcleri@packages.debian.org>
Uploaders:
 Jeroen van der Heijden <jeroen@transceptor.technology>,
 Paul Gevers <elbrus@debian.org>,
Rules-Requires-Root: no
Build-Depends:
 debhelper (>= 10~),
 dh-exec,
 libpcre3-dev,
Homepage: http://siridb.net/
Standards-Version: 4.1.1

Package: libcleri0
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: C Left-Right Parser
 Language parser for the C/C++.

Package: libcleri-dev
Section: libdevel
Architecture: any
Depends:
 libcleri0 (= ${binary:Version}),
 ${misc:Depends},
Description: C Left-Right Parser - development files
 Language parser for the C/C++.
 .
 This package contains the development files.
